*
!*.emacs.d
!.emacs
!.bash_profile
!.bashrc
!.gitignore
!.profiles
!.vimrc
!.zprofile
!.zshrc
!global.gitignore
!.gitconfig
!README.org
!.ideavimrc
!.emacs.d/snippets/
!.emacs.d/snippets/**
.emacs.d/snippets/*/.yas-compiled-snippets.el
!.emacs.d/functions.el