*
!*.emacs.d
!.emacs
!.bash_profile
!.bashrc
!.gitignore
!.profiles
!.vimrc
!.zprofile
!.zshrc
!global.gitignore
!.gitconfig
!README.org
!.ideavimrc
!.emacs.d/snippets
!.emacs.d/functions.el
!.emacs.d/custom.el